<h1>Ini halaman signup</h1>

<form method="POST" action="#">

    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <br>

    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    <br>

    <label for="password">password</label>
    <input type="password" name="password" id="password">
    <br>

    <button type="button" id="signupButton">Signup</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3"></script>
<script src="/js/signup.js"></script>
