<h1>Ini halaman signin akam</h1>

<form method="POST" action="#">

    <label for="email">Email</label>
    <input type="text" name="email" id="email">

    <label for="password">password</label>
    <input type="password" name="password" id="password">

    <button type="submit">Kirim</button>
</form>
